html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e6e5e8;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

:root {
    --color-white: #ffffff;
    --accent-color: #FB8F1D;
    --accent-color-hover: #d67a16;
    --color-dark: #19191B;
    --color-heather: #B8BECD;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-reset {
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 910px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.title {
    margin: 0;
    margin-bottom: 14px;
}

.header {
    background-color: var(--color-dark);
    padding: 10px 0;
    &__list {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 12px;
    }
    &__item:not(:last-child) {
        margin-right: 14px;
    }
    &__link {
        color: var(--color-white);
    }
    &__item a:hover::after {
        width: 100%;
    }
    &__item a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: white;
        transition: width 0.3s ease-in-out;
    }
}

.main {
    margin-bottom: 40px;
}

.hero {
    padding: 30px 0;
    background-color: #d8cec8;
    margin-bottom: 40px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__wrapper {

    }
    &__title {
        font-size: 64px;
        margin: 0;
        font-weight: 800;
    }
    &__desc {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
    }
    &__images {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
    }
}

.contact {
    margin-bottom: 40px;
    &__caption {
        font-weight: 600;
    }
    &__link {
        color: var(--color-dark);
    }
}
.about {
    margin-bottom: 40px;
    &__desc--link {
        background-color: var(--color-dark);
        color: var(--color-white);
        padding: 4px;
        transition: all 0.3s ease-in-out;
    }
    &__desc--link:hover {
        background-color: black;
    }
}
.skills {
    margin-bottom: 40px;
}
.code {
    margin-bottom: 40px;
}
.education {
    margin-bottom: 40px;
}
.footer {
    padding: 20px;
    background-color: var(--color-dark);
    color: var(--color-white);
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__rsschool img{
        width: 100px;
    }
    &__github-link {
        display: flex;
        align-items: center;
        color: white;
    }
    &__github-link  svg{
        width: 20px;
        margin-right: 10px;
        fill: var(--color-white);
    }
}

@media (max-width: 992px) {
    .hero__title {
        font-size: 48px;
    }
}
@media (max-width: 692px) {
    .hero__title {
        font-size: 48px;
    }
    .hero__images {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 535px) {

}